.view-post-containter {
  
}

.card {
   border-radius: 12px;
   max-width: 80%;
   margin-left: 10%;
   margin-right: 10%;
   align-content: center;
   margin-top: 2%;
}
  
.header-image {
background-image: url('/assets/rohit.jpg');
background-size: cover;
}
