
.appSideNavClass{
  background:linear-gradient(var(--color-primary-light),   var(--color-primary-dark));
  width: 30%;
  text-decoration: none;
}

.appNavbarClass{
    background:linear-gradient(var(--color-primary),   var(--color-primary-dark));
}

.alignRightElement {
  text-align:right;
  flex: 1;
}

a {
    color:var(--font-color) !important;
    text-decoration: none;
}

mat-icon {
    width: 100%;
}

.hidden-desktop {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hidden-mobile {
      display: none;
    }
  .hidden-desktop {
      display: inherit;
  }
}