@use '@angular/material' as mat;
@include mat.core();
$gallery-app-palette: (
    50:#455a64,
    100:#546e7a,
    200: #37474f,
 contrast: (
   50: #f5f5f5,
   100: #f5f5f5,
   200: #f5f5f5
 )
);


$app-primary: mat.define-palette($gallery-app-palette, 50,100,200);
$app-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
$app-warn: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$app-success: mat.define-palette(mat.$light-green-palette, A200, A100, A400);

$app-theme: mat.define-light-theme((
 color: (
   primary: $app-primary,
   accent: $app-accent,
   warn: $app-warn,
   success: $app-success
 ),
 density: 0,
));

@include mat.core-theme($app-theme);
@include mat.all-component-themes($app-theme);

:root {
    --color-primary: #455a64;
    --color-primary-light: #546e7a;
    --color-primary-dark:  #37474f;
    --color-accent: mat.get-color-from-palette($app-accent, A200);
    --color-warn: mat.get-color-from-palette($app-warn, A200);
    --color-success: mat.get-color-from-palette($app-success, A200);
    --font-color: #f5f5f5;
  }


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'ngx-toastr/toastr';
@import '~quill/dist/quill.snow.css';

.alignRightDiv{
    text-align:right;
    display:inline-block;
  }
